{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Abstimmungsstudio by d/o</title>
    <link rel="icon" href="{% static 'abst/favicon.ico' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://unpkg.com/tabulator-tables@6.4.0/dist/css/tabulator.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables@6.4.0/dist/css/tabulator_materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'abst/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav>
            {% block nav %}
            {% endblock %}
        </nav>
    </header>


    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col s12 footer-nav">
                    <h3>
                        <a href="https://digitalorganizing.ch/" target="_blank">digital/organizing</a>
                    </h3>
                    <h3>Weitere Informationen</h3>
                    <a href="https://digitalorganizing.ch/impressum/" target="_blank">Impressum</a>
                    <a href="https://digitalorganizing.ch/datenschutz/" target="_blank">Datenschutz</a>
                    <a href="mailto:kontakt@digitalorganizing.ch">kontakt@digitalorganizing.ch</a>
                    <h4>Quellen</h4>
                    <a
                        href="https://opendata.swiss/de/dataset/echtzeitdaten-am-abstimmungstag-zu-eidgenoessischen-abstimmungsvorlagen">
                        Echtzeitdaten am Abstimmungstag zu eidgenössischen Abstimmungsvorlagen
                    </a>
                    <a
                        href="https://opendata.swiss/de/dataset/echtzeitdaten-am-abstimmungstag-zu-kantonalen-abstimmungsvorlagen">
                        Echtzeitdaten am Abstimmungstag zu kantonalen Abstimmungsvorlagen
                    </a>
                    <a href="https://opendata.swiss/de/dataset/geodaten-zu-den-eidgenoessischen-abstimmungsvorlagen">
                        Geodaten zu den eidgenössischen Abstimmungsvorlagen
                    </a>
                    <a href="https://infoscience.epfl.ch/entities/publication/8b90ac8f-8433-4148-940b-0c07f2baec91">
                        Sub-Matrix Factorization for Real-Time Vote Prediction <br> - Immer, Alexander and Kristof,
                        Victor and Grossglauser, Matthias and Thiran, Patrick
                    </a>

                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.4.0/dist/js/tabulator.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</body>

</html>