{% extends 'abst/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 2rem;">
    <h4>{{ vorlage.name }}</h4>

    <!-- Scripts for TopoJSON and D3 -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>

    <div x-data="mapView('{{ vorlage.vorlagen_id }}', '{{ geo_link }}')">
        <div class="row">
            <div class="input-field col s12 m4">
                <select x-model="mode" @change="updateMap" x-ref="modeSelect">
                    <option value="ja">Ja-Stimmen Anteil</option>
                    <option value="beteiligung">Stimmbeteiligung</option>
                </select>
                <label>Visualisierung</label>
            </div>
            <div class="col s12 m8 right-align" style="margin-top: 20px;">
                <label style="margin-right: 15px;">
                    <input type="checkbox" class="filled-in" x-model="showCantons" @change="toggleCantons()" />
                    <span>Kantone anzeigen</span>
                </label>
                <button class="btn waves-effect waves-light" @click="resetZoom()">Zoom zurücksetzen</button>
            </div>
        </div>

        <div id="map-container" style="width: 100%; height: 600px; background-color: #444; position: relative;">
            <div x-show="loading" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left"><div class="circle"></div></div>
                    <div class="gap-patch"><div class="circle"></div></div>
                    <div class="circle-clipper right"><div class="circle"></div></div>
                    </div>
                </div>
            </div>
            <svg id="swiss-map" width="100%" height="100%"></svg>
        </div>
    </div>
</div>

<script src="{% static 'abst/js/map.js' %}"></script>
{% endblock %}
