{% extends 'abst/base.html' %}
{% load static %}

{% block title %}{{ vorlage.name }} - Tabelle{% endblock %}

{% block nav %}
{% include 'abst/includes/vorlage_nav.html' %}
{% endblock %}

{% block content %}
<article>
    <h4>{{ vorlage.name }} - Gemeinden Resultate</h4>
    
    <div x-data="gemeindenTableView('{{ vorlage.vorlagen_id }}')" x-init="init()">
        <div class="row">
            <div class="input-field col s12 m4">
                <select x-model="statusFilter" @change="updateFilter" x-ref="statusSelect">
                    <option value="">Alle</option>
                    <option value="final">Ausgezählt</option>
                    <option value="prediction">Hochrechnung</option>
                </select>
                <label>Status Filter</label>
            </div>
            <div class="col s12 m8 right-align" style="margin-top: 20px;">
                <button class="btn waves-effect waves-light" @click="loadData()">
                    <i class="material-symbols-outlined left">refresh</i>Aktualisieren
                </button>
                <button class="btn waves-effect waves-light" @click="downloadExcel()">
                    <i class="material-symbols-outlined left">file_download</i>Excel
                </button>
            </div>
        </div>

        <div id="gemeinden-table"></div>
    </div>
</article>

<script src="{% static 'abst/js/table.js' %}"></script>
{% endblock %}
